.App {
  text-align: center;
  background-color: #A6E1EC;
  font-family: 'Source Serif Pro', serif;
}

.btn-primary{
  margin-top: 10px;
  margin-right: 5px;
}
.btn-danger{
  margin-top: 10px;
  margin-left: 5px;
}
.reminderCheckbox{
  margin-top: 10px;
}
.btn-success{
  margin-top: 5px;
}